<div class="hide" id="session"><%= session[:group_id] %>/<%= session[:game_id] %>/<%= session[:max_score] %>
</div>


<div id="game">
	<h3>group id = <%= session[:group_id] %> game id = <%= session[:game_id] %> max_score = <%= session[:max_score] %></h3>

	<div id="scoreboard">
		<ul id="scores">

		</ul>
	</div>
	<div id="dice">
		<ul id="rolls">
		</ul>
		<h2 id="rollTotal"></h2>
		<p id="onDeck"></p>
		<button id="nextTurn">Roll the dice!</button>
	</div>
	<div id="media">
	</div>
</div>
<div id="endgame">
	<%= form_tag("./session", method: "DELETE") do %>
	<% end %>
</div>